* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Ribes";
	src: url(FONT/Ribes-Black.otf);
  }

body {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background: #C6B677;
	overflow: hidden;
	font-family: "Inconsolata";

}

.container-items {
	position: absolute;
	bottom: 40%;
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.item {
	position: relative;
	flex-grow: 1;
	font-family: "Mak";
	font-size: 220px;
	transition: all 300ms ease-in-out;
}

.item:hover {
	flex-grow: 2;
	font-size: 400px;
}

h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #F2E9DC;
	font-size: 6rem;
}
.images {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}

.img {
	width: 240px;
	height: 380px;
	background: darkblue;
	filter: grayscale(1);
	opacity: 0.6;
}

.img-1 {
	transform: scale(1);
	background: url(/PHOTOS/Enmi-Loves-Alyssa-3_4.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.img-2 {
	transform: scale(1.4);
	background: url(/PHOTOS/Enmi-Loves-Alyssa-3_10.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.img-3 {
	transform: scale(1.2);
	background: url(/PHOTOS/Enmi-Loves-Alyssa-3_45.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.img-4 {
	transform: scale(0.9);
	background: url(/PHOTOS/Enmi-Loves-Alyssa-3_43.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.img-5 {
	transform: scale(1.2);
	background: url(PHOTOS/Enmi-Loves-Alyssa-3_69.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.img-6 {
	transform: scale(1);
	background: url(/PHOTOS/Enmi-Loves-Alyssa-3_29.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.img-7 {
	transform: scale(1.1);
	background: url(/PHOTOS/Enmi-Loves-Alyssa-3_40.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.img-8 {
	transform: scale(0.9);
	background: url(/PHOTOS/Enmi-Loves-Alyssa-3_53.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.container-img-wrap {
	position: absolute;
	top: -20rem;
	left: -20px;
	width: 400px;
	height: 500px;
	overflow: hidden;
	pointer-events: none;
	visibility: hidden;
}

.container-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}

@media (max-width: 900px) {
	.container-items {
		height: 100px;
	}
	.item {
		font-size: 20px;
	}
	.item:hover {
		flex-grow: 1;
		font-size: 20px;
	}
	.container-img-wrap {
		display: none;
	}
	.navbar {
		display: none !important;
	}
}

.site-logo {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	font-family: "Ribes";
	font-size: 30px;
	line-height: 100px;
	text-transform: uppercase;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	font-family: "Ribes";
	text-transform: uppercase;
	line-height: 100px;
	font-size: 1.8rem;
}

.site-menu {
	display: flex;
}

.menu-item {
	margin-left: 60px;
}

.headline {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 20%;
	padding: 40px;
	text-transform: uppercase;
	font-family: "Mak";
	font-size: 40px;
	z-index: 2;
}

.headline-left span {
	font-family: Arial, Helvetica, sans-serif;
}

.link {
	margin: 40px 0;
}

.link a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
}

header {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.header__button {
	z-index: 2;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #c0b9dd;
	border: 0;
	cursor: pointer;
	position: absolute;
	left: 48%;
	top: 0;
	margin: 20px;
	outline: none;
	animation-duration: 300ms;
	animation-timing-function: ease;
}

.header__button[data-open="true"] {
	background-color: #C6B677;
	animation-name: scale;
}

.header__button[data-open="false"] {
	transition: background-color 250ms linear;
}

@keyframes scale {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(100%);
	}
}
h1 {
	font-size: 10rem;
	font-weight: normal;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
}

.header__nav {
	background-color: #c0b9dd;
	position: fixed;
	overflow: hidden;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	visibility: hidden;
	clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
}

.header__nav[data-active="true"] {
	visibility: visible;
}

.header__menu {
	padding: 0;
	margin: 0;
}

.header__menu > .header__menu-item {
	font-size: 10vh;
	font-family: "Inconsolata";
	text-align: center;
}

.header__menu > .header__menu-item:not(:last-of-type) {
	margin-bottom: .5em;
	margin-top: .5em;
}

.header__menu-item a {
	letter-spacing: -4px;
	font-weight: 300 !important;
	color: #EBFCFB;
	text-decoration: none;
}

.footer {
	position: absolute;
	left: 44%;
	bottom: 0;
	padding: 40px;
	font-family: "Inconsolata";
	text-transform: uppercase;
	color: #000000;
	font-size: 1.1rem;
}
